@model PagedList.PagedList<BANSACHADMIN.Models.DATA.TacGia>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "TacGia";
    Layout = "~/Views/LAYOUT/_LayoutAdmin.cshtml";
}

<h2>TacGia</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon user"></i><span class="break"></span>Members</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().TenTacGia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().DiaChi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().TieuSu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().DienThoai)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenTacGia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TieuSu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DienThoai)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "ChinhSua", new { @MaTacGia = item.MaTacGia }) |
                            @Html.ActionLink("Details", "HienThi", new { @MaTacGia = item.MaTacGia }) |
                            @Html.ActionLink("Delete", "Xoa", new { @MaTacGia = item.MaTacGia })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div><!--/span-->
 Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("TacGia", new { Page = Page }))